/* Initial Setup */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

html {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Color Palette */
:root {
    --red: #E93F33;
    --gray: #F4F5F6;
    --white: #fff;
    --black: #000;
}

body {
    background-color: var(--gray);
    padding: 0 40px;
}

.red {
    color: white;
    background-color: red;
}

.green {
    color: white;
    background-color: green;
}

.blue {
    color: white;
    background-color: blue;
}

/* Header Section  */
header {
    background-color: var(--red);
    align-items: flex-end;
    height: 95px;
    padding: 15px;
}

.date {
    color: var(--white);
    font-size: 1.5rem;
}

.logo-div {
    text-align: center;
}

.logo {
    width: 369px;
    height: 60px;
}

.heading-right {
    font-size: 1.5rem;
    padding: 0;
    text-align: center;
    font-weight: 600;
}

.heading-right:hover {
    text-decoration: none;
}

.heading-right-red {
    color: var(--white);
    max-width: 80px;
}

.heading-right-red:hover {
    color: var(--white);
}

.heading-right-white {
    background-color: var(--white);
    color: var(--red);
}

.heading-right-white:hover {
    color: var(--red);
}

/* NavBar Section */
.navbar-light .navbar-nav .nav-link {
    color: black;
    font-size: 2rem;
    font-weight: 600;
    list-style: none;
}

.navbar-nav {
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    background-color: white;
}

.search-box {
    display: flex;
    align-items: center;
}